#Ignore Folders
.vs/

TestDataGenerator.BL/bin/Debug/
TestDataGenerator.BL/bin/Release/
TestDataGenerator.BL/obj/Debug/net5.0/ref/

TestDataGenerator.BL.Test/bin/Debug/
TestDataGenerator.BL.Test/bin/Release/
TestDataGenerator.BL.Test/obj/Debug/net5.0/ref/

TestDataGenerator.Data/bin/Debug/
TestDataGenerator.Data/bin/Release/
TestDataGenerator.Data/obj/Debug/net5.0/ref/

TestDataGenerator.Data.Test/bin/Debug/
TestDataGenerator.Data.Test/bin/Release/
TestDataGenerator.Data.Test/obj/Debug/net5.0/ref/

TestDataGenerator/bin/Debug/
TestDataGenerator/bin/Release/
TestDataGenerator/obj/Debug/net5.0/ref/














































